* {
    font-family: Georgia, sans-serif;
}

body,
h1,
h2,
p {
    margin: 0;
}

header {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #c3c3c3;
}

h1, 
h2 {
    color: #646464;
    font-weight: 300;
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

a {
    color: #c3c3c3;
    text-decoration: none;
}

.container {
    width: 980px;
    margin: auto;
}

.wraper {
    display: flex;
    flex-direction: column;
}

.logo {
    float: left;
}

.search {
    float: right;
}

.text {
    color: #c3c3c3;
}

.nav {
    padding: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 15px;
}

input[type='search'],
.btn-search,
.btn {
    width: 215px;
    height: 32px;
    margin: 0 5px 0 0;
    padding: 0 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: #353535;
    color: white;
}

.btn-search {
    width: 80px;
    margin: 0;
}

.btn {
    width: 105px;
    text-align: center;
    line-height: 32px;
    background-color: #d54346;
}

.btn-search:hover,
.site-btn:hover {
    background-color: #d54346;
}

.menu-nav {
    float: left;
    margin: 15px 0 0 0;
}

.text-menu {
    margin: 0 25px 0 0;
}

.site {
    float: right;
}

.site-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 0 30px 10px;
    border-radius: 50%;
    background-color: #353535;
}

.text-menu:hover {
    color: #d54346;
}

.btn-search:active,
.text-menu:active,
.site-btn:active {
    opacity: 0.9;
}

/*
    Main
*/

.photo {
    position: relative;
    margin: 50px 0 0 0;
}

#footbal-photo {
    width: 960px;
    height: 450px;
    margin: 0 0 0 10px;
}

.quote {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 20px;
    display: block;
    width: 415px;
    height: 70px;
    padding: 40px;
    background-color: #151515;
    color: white;
    font-size: 21px;
    opacity: 0.8;
}

.column-row {
    border-bottom: 1px solid #c3c3c3;
    padding: 40px 0;
}

.tetx-column {
    float: left;
}

.tetx-column:last-child {
    float: none;
}

.tetx-column .text {
    line-height: 25px;
    font-size: 15px;
} 

.flex-row {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.column-2,
.column-1 {
    width: 470px;
    height: 300px;
}

.img {
    width: 80px;
    height: 80px;
    background-color: #151515;
}

.blockqoute {
    display: flex;
    column-gap: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 980px;
    border-top: 1px solid #c3c3c3;
    margin: auto;
    padding: 15px 0;
}
