* {
    font-family: Georgia, sans-serif;
}

body,
h1,
p {
    margin: 0;
}

header {
    padding: 10px 0 0 0;
    border-bottom: 1px solid #c3c3c3;
}

h1 {
    color: #646464;
    font-weight: 300;
    font-size: 35px;
}

a {
    color: #c3c3c3;
    text-decoration: none;
}

.container {
    width: 980px;
    margin: auto;
}

.wraper {
    display: flex;
    flex-direction: column;
}

.logo-header,
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: #c3c3c3;
}

.nav {
    padding: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 15px;
}

input[type='search'],
.btn-search {
    width: 215px;
    height: 32px;
    margin: 0 5px 0 0;
    padding: 0 10px;
    outline: none;
    border: 0;
    border-radius: 10px;
    background-color: #353535;
    color: white;
}

.btn-search {
    width: 80px;
    margin: 0;
}

.btn-search:hover,
.site-btn:hover {
    background-color: #d54346;
}

.menu-nav {
    display: flex;
    column-gap: 25px;
}

.site {
    display: flex;
    column-gap: 10px;
}

.site-btn {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 0 30px 0;
    border-radius: 50%;
    background-color: #353535;
}

.text-menu:hover {
    color: #d54346;
}

.btn-search:active,
.text-menu:active,
.site-btn:active {
    opacity: 0.9;
}

/*
    Main
*/

.photo {
    position: relative;
    margin: 50px 0 0 0;
}

#footbal-photo {
    width: 960px;
    height: 450px;
}

.quote {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
    display: block;
    width: 415px;
    height: 70px;
    padding: 40px;
    background-color: #151515;
    color: white;
    font-size: 19px;
    opacity: 0.8;
}
